/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

button {
    background-color: black;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    outline: none;
    padding: 16px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    transition: 400ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;}

button:hover{
    color: rgb(15, 19, 24);
    background-color: rgb(133, 171, 237);
    transform :scale(1.03)
}

button:active
  {  box-shadow :0px 4px 8px rgba(darken(dodgerblue, 30%));
    transform: scale(.90)}

input, textarea {
    border: 2px solid black;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 16px; 
    padding: 8px;
}

a {
    text-decoration: none;
    color: black;
}

/* div {
    padding: 8px;
} */

h1 {
    font-family: 'Poppins', sans-serif;
    /* padding: 8px; */
    transition: 400ms ease-in-out;
    /* font-size: 46px; */
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(172, 172, 238);
}

h1:hover {
    color: rgb(117, 106, 106)
}

#page-wrap {
    background-color: white;
    min-height: 100vh;
    padding: 0;
    width: 100vw;
}

#max-width-column {
    background-color: white;
    margin: 0 auto;
    max-width: 80%;
    min-height: 100vh;   
    position: relative;
    padding-top: 100px;
}

#top-bar {
    border-bottom: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 3px 3.6px;
    /* margin-bottom: 2px; */
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: white;
}

#app-heading {
    /* margin:  24px; */
    margin: 10px !important;
}

#my-listings-button {
    position: absolute;
    top: 7px;
    right: 7px;
}

#content-wrap {
    padding: 16px;
    
}

.content-box {
    background-color: #EEE;
    border-radius: 8px;
    padding: 16px;
    position: relative;
    margin-bottom: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;}

.buttons-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 16px;
}

.buttons-container > button {
    margin-left: 8px;
}

.back-buttons {
    position: absolute;
    right: 16px;
    padding: 16px;
}

.back-buttons > button {
    margin-left: 8px;
}

.signout-container {
    /* padding: 16px; */
    position: absolute;
    top: 7px;
    right:150px;

}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#description {
    height: 260px;
}

#third {
    max-width: 70px;
}